designs/server/services/migrate/migration.json
[
    {
        "id": "SSD_SERVICE_ID_sd_bspZZv5WD62vJxvp",
        "type": "tab",
        "createdDate": "2024-06-07T08:04:34.758Z",
        "label": "migration",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "migration",
        "relativeParentPath": "migrate"
    },
    {
        "id": "sd_pBGR4aClaMZnxsGA",
        "type": "CallService",
        "z": "SSD_SERVICE_ID_sd_bspZZv5WD62vJxvp",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "SSD_SERVICE_ID_sd_L5Ge8g2BzQJlhEXu",
            "type": "tab",
            "createdDate": "2024-05-13T18:38:46.597Z",
            "label": "authentication",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_KjP1tTXY8ubtVYLV",
            "flowName": "toCheckIfTheUserExists"
        },
        "inputVariables": [
            {
                "key": "searchObj",
                "map": true,
                "valueType": "bh",
                "value": "search"
            }
        ],
        "bhVariables": [],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "result",
                "valueType": "bh",
                "value": "result",
                "mapVarName": "result",
                "localVar": "bh.result"
            }
        ],
        "callService": "../authentication",
        "startName": "toCheckIfTheUserExists",
        "inputParams": [
            "bh.search"
        ],
        "accept_bh": false,
        "functionName": "sd_pBGR4aClaMZnxsGA",
        "category": "General",
        "x": 265,
        "y": 180,
        "wires": [
            [
                "sd_mXY7QmdBvTmJJSJ4"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generated": true,
        "generateNext": false,
        "serviceName": "migration"
    },
    {
        "id": "sd_mXY7QmdBvTmJJSJ4",
        "type": "Switch",
        "z": "SSD_SERVICE_ID_sd_bspZZv5WD62vJxvp",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "property": "result",
        "propertyType": "bh",
        "propertyGv": "bh.result",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "functionName": "sd_mXY7QmdBvTmJJSJ4",
        "category": "Function",
        "x": 365,
        "y": 180,
        "wires": [
            [
                "sd_cApPAMBWdNwX8Xmi"
            ],
            [
                "sd_lL0HME43NeN95ahj"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "migration",
        "generated": true
    },
    {
        "id": "sd_cApPAMBWdNwX8Xmi",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_bspZZv5WD62vJxvp",
        "viewType": "common",
        "nodeType": "flow",
        "name": "if error",
        "script": "bh.status = 404;\nbh.result = {\n    message: 'USER ALREADY EXISTS!'\n}",
        "functionName": "ifError",
        "category": "Function",
        "x": 585,
        "y": 80,
        "wires": [
            [
                "sd_RuFCvgisADHCQYus"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "migration",
        "generated": true
    },
    {
        "id": "sd_YrSn7hUAjqhBsClY",
        "type": "Mongodb",
        "z": "SSD_SERVICE_ID_sd_bspZZv5WD62vJxvp",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "databaseConfig": "sd_Kkkscf5YGu1U4UWP",
        "collection": "bh.search.collection",
        "options": "bh.option",
        "resultMapping": "bh.result",
        "operation": "insertOne",
        "argumentArray": [
            "document",
            "options"
        ],
        "aggregate": "",
        "operations": "",
        "query": "bh",
        "fieldOrSpec": "",
        "filter": "",
        "key": "",
        "docId": "",
        "indexName": "",
        "replacement": "",
        "update": "",
        "xAxis": "",
        "yAxis": "",
        "indexes": "",
        "docs": "",
        "document": "bh.body",
        "newName": "",
        "doc": "",
        "filePath": "",
        "fileName": "",
        "pipeline": "",
        "functionName": "sd_YrSn7hUAjqhBsClY",
        "category": "Storage",
        "x": 805,
        "y": 180,
        "wires": [
            [
                "sd_RuFCvgisADHCQYus"
            ]
        ],
        "__ssdTypeInputs__": {
            "collection": {
                "type": "bh",
                "value": "search.collection",
                "constant": false
            },
            "options": {
                "type": "bh",
                "value": "option",
                "constant": false
            },
            "resultMapping": {
                "type": "bh",
                "value": "result",
                "constant": false
            },
            "query": {
                "type": "bh",
                "value": "",
                "constant": false
            },
            "document": {
                "type": "bh",
                "value": "body",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "migration",
        "generated": true
    },
    {
        "id": "sd_RuFCvgisADHCQYus",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_bspZZv5WD62vJxvp",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh",
            "value": "result",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "bh",
            "value": "status",
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "swaggerResponse": {},
        "responseMapping": {
            "status": "bh.status",
            "obj": "bh.result",
            "send": "bh.result"
        },
        "dataModelIsArray": false,
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "headers": [],
            "produces": [],
            "responses": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_RuFCvgisADHCQYus",
        "category": "HTTP",
        "x": 845,
        "y": 100,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "migration",
        "generated": true
    },
    {
        "id": "sd_DszVu5mYyVC28zWg",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_bspZZv5WD62vJxvp",
        "viewType": "server",
        "nodeType": "start",
        "name": "migrate",
        "path": "/registration-m",
        "uploadpath": "\"C:\\\\Users\\\\User\\\\Desktop\\\\capitec-app\\\\src\\\\assets\\\\uploads\"",
        "summary": "",
        "description": "",
        "method": "post",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": true,
        "useDataModel": false,
        "dataModelIsArray": false,
        "uploadFileOptions": {
            "type": "path",
            "fileOptions": [
                {
                    "name": "ID",
                    "maxCount": 1
                }
            ],
            "path": "\"C:\\\\Users\\\\User\\\\Desktop\\\\capitec-app\\\\src\\\\assets\\\\uploads\""
        },
        "erd": "",
        "erdName": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "fileoptions": [
                {
                    "key": "ID",
                    "value": "1",
                    "rowId": "sd_v477ZXmJ3B5rb9Hb",
                    "valid": true
                }
            ],
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": [
                {
                    "key": "multipart/form-data",
                    "rowId": "sd_NI0jnmZc7sR32v6G",
                    "valid": true
                }
            ]
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 65,
        "y": 180,
        "wires": [
            [
                "sd_8LttuqwbGL9l7VrA"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "C:\\Users\\User\\Desktop\\capitec-app\\src\\assets\\uploads",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "migration",
        "functionName": "sd_DszVu5mYyVC28zWg",
        "generated": false
    },
    {
        "id": "sd_8LttuqwbGL9l7VrA",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_bspZZv5WD62vJxvp",
        "viewType": "common",
        "nodeType": "flow",
        "name": "filter",
        "script": "    bh.search = {\n    query: { 'email': bh.input.body.email },\n    collection: 'migrate',\n}\n\nbh.input.body['_id'] = new Date().getTime();\nbh.input.body['status'] = \"pending\";\nbh.input.body['available_balance'] = bh.input.body['balance']\nbh.input.body['cash_withdrawal_limit'] = 500\nbh.input.body['card_purchases_limit'] = 500\nbh.input.body['online_scan_to_pay_phone'] = 500\nbh.input.body['cash_withdrawal_limit_temp'] = 500\nbh.input.body['card_purchases_limit_temp'] = 500\nbh.input.body['online_scan_to_pay_phone_temp'] = 500\nbh.input.body['limit_counter'] = 0\nbh.input.body['date'] = \"N/A\"\nbh.input.body['registered'] = false\n\n\n\n\n\n\nbh.input.body['fullName'] = bh.input.body['name'] + \" \" + bh.input.body['surname']",
        "functionName": "filter",
        "category": "Function",
        "x": 165,
        "y": 180,
        "wires": [
            [
                "sd_pBGR4aClaMZnxsGA"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "migration",
        "generated": true
    },
    {
        "id": "sd_lL0HME43NeN95ahj",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_bspZZv5WD62vJxvp",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "const bcrypt = require('bcrypt')\nconsole.log('Last script: ',  bh.hashed)\nbh.status = 200;\nbh.collection = bh.input.body.collection;\n\ndelete bh.input.body.collection;\nbh.body = bh.input.body;\nconst hashedPassword = await bcrypt.hash(bh.input.body['remotePin'],10);\nbh.input.body['remotePin'] = hashedPassword\nconsole.log(bh.body)\nconsole.log(bh.input.body)\n\n\n\nconsole.log('body ==>', bh.result);",
        "functionName": "sd_lL0HME43NeN95ahj",
        "category": "Function",
        "x": 485,
        "y": 260,
        "wires": [
            [
                "sd_dnMUmIqNoNYFCyIA"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "migration",
        "generated": true
    },
    {
        "id": "sd_dnMUmIqNoNYFCyIA",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_bspZZv5WD62vJxvp",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.payload = {\n    to: bh.input.body.email,\n    subject: 'REGISTRATION SUCCESSFUL',\n    from: 'Capitec',\n    body:`Your application to bank with Capitec has been sent.`,\n    image:`<img src=\"https://upload.wikimedia.org/wikipedia/commons/thumb/f/f2/Capitec_Bank_logo.svg/768px-Capitec_Bank_logo.svg.png\" width=\"300px\" height=\"80px\"/>`\n}\n\nbh.input.body['accountNumber'] = bh.accountNo\n\n\nconsole.log(bh.payload)\n\nbh.status = 200;",
        "functionName": "sd_dnMUmIqNoNYFCyIA",
        "category": "Function",
        "x": 585,
        "y": 260,
        "wires": [
            [
                "sd_QzvphtmKNLphyMHz"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "migration",
        "generated": true
    },
    {
        "id": "sd_QzvphtmKNLphyMHz",
        "type": "EmailOut",
        "z": "SSD_SERVICE_ID_sd_bspZZv5WD62vJxvp",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "emailoutconfig": "sd_bkwqQKmMI8faGDdO",
        "from": "bh.payload.from",
        "to": "bh.input.body.email",
        "cc": "undefined",
        "bcc": "undefined",
        "subject": "bh.payload.subject",
        "body": "bh.payload.body",
        "html": "bh.payload.image",
        "attachment": [],
        "attachmentList": {},
        "switchStates": {
            "attachment": "Map"
        },
        "editableListData": {},
        "routingoptions": "undefined",
        "iCal": "undefined",
        "contentoptions": "undefined",
        "headeroptions": "undefined",
        "securityoptions": "undefined",
        "outputs": 1,
        "resultMapping": "bh.result",
        "functionName": "sd_QzvphtmKNLphyMHz",
        "category": "Messaging",
        "x": 705,
        "y": 260,
        "wires": [
            [
                "sd_YrSn7hUAjqhBsClY"
            ]
        ],
        "__ssdTypeInputs__": {
            "from": {
                "type": "bh",
                "value": "payload.from",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "to": {
                "type": "bh",
                "value": "input.body.email",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "cc": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "bcc": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "subject": {
                "type": "bh",
                "value": "payload.subject",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "body": {
                "type": "bh",
                "value": "payload.body",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "html": {
                "type": "bh",
                "value": "payload.image",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "routingoptions": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "iCal": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "contentoptions": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "headeroptions": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "securityoptions": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "resultMapping": {
                "type": "bh",
                "value": "result",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "migration",
        "generated": true
    }
]
