designs/server/services/admin/ticket.json
[
    {
        "id": "SSD_SERVICE_ID_sd_ziAMhDYuwE3uRD5y",
        "type": "tab",
        "createdDate": "2024-06-09T18:32:55.650Z",
        "label": "ticket",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "ticket",
        "relativeParentPath": "admin"
    },
    {
        "id": "sd_KpRf9wdIocEqQnxS",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_ziAMhDYuwE3uRD5y",
        "viewType": "server",
        "nodeType": "start",
        "name": "ticket",
        "path": "/ticket",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "post",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "useDataModel": false,
        "dataModelIsArray": false,
        "erd": "",
        "erdName": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 60,
        "y": 40,
        "wires": [
            [
                "sd_ieoZWFPf4HCooHG9"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "ticket",
        "functionName": "sd_KpRf9wdIocEqQnxS"
    },
    {
        "id": "sd_ieoZWFPf4HCooHG9",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_ziAMhDYuwE3uRD5y",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.payload = {\n    to:\"kimberlymnguni@gmail.com\" ,\n    subject: 'Ticket',\n    from: 'Capitec',\n    body: `Admin sent a ticket of : ${bh.input.body.ticket}`\n}\n\n\n\nbh.status = 200;",
        "functionName": "sd_ieoZWFPf4HCooHG9",
        "category": "Function",
        "x": 140,
        "y": 40,
        "wires": [
            [
                "sd_vRj3NJ6lDXHT6Uhv"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ticket",
        "generated": true
    },
    {
        "id": "sd_vRj3NJ6lDXHT6Uhv",
        "type": "EmailOut",
        "z": "SSD_SERVICE_ID_sd_ziAMhDYuwE3uRD5y",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "emailoutconfig": "sd_bkwqQKmMI8faGDdO",
        "from": "bh.payload.from",
        "to": "bh.payload.to",
        "cc": "undefined",
        "bcc": "undefined",
        "subject": "bh.payload.subject",
        "body": "bh.payload.body",
        "html": "undefined",
        "attachmentList": {},
        "switchStates": {
            "attachment": "Map"
        },
        "editableListData": {},
        "routingoptions": "undefined",
        "iCal": "undefined",
        "contentoptions": "undefined",
        "headeroptions": "undefined",
        "securityoptions": "undefined",
        "outputs": 1,
        "resultMapping": "bh.result",
        "functionName": "sd_vRj3NJ6lDXHT6Uhv",
        "category": "Messaging",
        "x": 240,
        "y": 40,
        "wires": [
            [
                "sd_IEEkx66TNTfEkl7G"
            ]
        ],
        "__ssdTypeInputs__": {
            "from": {
                "type": "bh",
                "value": "payload.from",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "to": {
                "type": "bh",
                "value": "payload.to",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "cc": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "bcc": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "subject": {
                "type": "bh",
                "value": "payload.subject",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "body": {
                "type": "bh",
                "value": "payload.body",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "html": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "routingoptions": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "iCal": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "contentoptions": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "headeroptions": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "securityoptions": {
                "type": "bh",
                "value": "",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            },
            "resultMapping": {
                "type": "bh",
                "value": "result",
                "nullable": "true",
                "nullableValue": "undefined",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ticket",
        "generated": true
    },
    {
        "id": "sd_IEEkx66TNTfEkl7G",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_ziAMhDYuwE3uRD5y",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh",
            "value": "result",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "bh",
            "value": "status",
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "swaggerResponse": {},
        "responseMapping": {
            "status": "bh.status",
            "obj": "bh.result",
            "send": "bh.result"
        },
        "dataModelIsArray": false,
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "headers": [],
            "produces": [],
            "responses": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_IEEkx66TNTfEkl7G",
        "category": "HTTP",
        "x": 325,
        "y": 40,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "ticket",
        "generated": true
    }
]
